@tailwind base;
@tailwind components;
@tailwind utilities;

body > * {
  @apply bg-maya-blue;
}

body * {
  @apply text-dark-purple;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}
